<script>
// Sends a message to the main process
function send(message) {
  console.info(JSON.stringify({
    type: "message",
    session: {{ .Session }},
    message: JSON.stringify(message)
  }))
}
// Start screencasr
function start() {
  console.info(JSON.stringify({
    type: "command",
    action: "start",
    session: {{.Session }},
    message: "Start screencast",
  }))
}
// Closes the connection
function close() {
  console.info(JSON.stringify({
    type: "command",
    action: "close",
    session: {{.Session }},
    message: "Close connection to page",
  }))
}
// Takes a screenshot of the current page
function screenshot() {
  console.info(JSON.stringify({
    type: "command",
    action: "screenshot",
    session: {{.Session }},
    message: "Take screenshot",
  }))
}
</script>