
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Ωmega - Dev handler</title>
		<meta name="description" content="Chrome animation recorder">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="theme-color" content="#fafafa">
		<link href="/dev/styles.css" rel="stylesheet">
	</head>
	<body style="text-align:center;">
	<canvas class="webgl"></canvas>
	<script type="text/javascript" src="/dev/script.js"></script>
	</body>
</html>
